.row {
    margin-top: 1rem;
}

.headingContainer {
    background-color: var(--palette-pink);
    height: 500px;
    outline: 2px solid white;
    outline-offset: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.contactImg {
    clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%);
}

.submitBtn {
  background-color: white;
}

.textArea {
  resize: none;
}